fastapi
uvicorn
python-multipart
pydantic
torch
torchvision
torchaudio
pillow
numpy
geopy
fpdf2
python-dotenv
httpx
matplotlib
opencv-python-headless
scikit-learn
jupyter
streamlit
folium
streamlit-folium
joblib
pandas
