@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-dark-bg: #000000;
  --color-glass-bg: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-primary-indigo: #6366f1;
  --color-primary-blue: #3b82f6;
}

body {
  font-family: 'Inter', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
  /* Slightly thicker for better grabbing */
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid rgba(255, 255, 255, 0.02);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  /* Frosted glass look */
  border-radius: 8px;
  border: 2px solid #000000;
  /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-corner {
  background: #000000;
}